<div class="content">
  <form class="formulario">
    <div class="zona1">
      <div class="dropzone" (click)="fileInput.click()">
        <p>Arrastre y suelte archivos aquí o haga clic para seleccionarlos</p>
        <input 
          #fileInput 
          type="file" 
          accept=".xls, .xlsx" 
          style="display: none" 
          multiple 
          (change)="onFileSelect($event)" 
        />
      </div>
      <span *ngIf="mensaje">{{ mensaje }}</span>
    </div>
  </form>
</div>

