<div class="modal-overlay">
    <div class="modal">
        <div class="header_modal">
            <span>Crear un Nuevo proceso</span>
            <p>X</p>
        </div>
        <div class="body_modal">
            <div class="body_header">
                <div class="content_select">
                    <span>MES DEL PROCESO</span>
                    <select name="" id="">
                        <option value="">SELECCIONE UN MES DISPONIBLE</option>
                    </select>
                </div>
                <div class="content_name">
                    <span>Nombre de la Campaña</span>
                    <input type="text" placeholder="INGRESE UN NOMBRE" />
                </div>
                <div class="content_calendar_1">
                    <span>Fecha de Inicio de la Campaña</span>
                    <input type="date" />
                </div>
                <div class="content_calendar_2">
                    <span>Fecha de Finalizacion de Campaña</span>
                    <input type="date" />
                </div>
            </div>
            <div class="body_button">
                <button>Crear</button>
            </div>
        </div>
        <div class="footer_modal">

        </div>
    </div>
</div>
